
.bg-light {
    background-color: #ffffff!important;
    height: 10vh;
    border: solid 1px rgb(228, 225, 225);
    border-radius: 5px;
}
.btn-outline-success {
    color: #080808;
    border-color: #bdbdbd;
}
.navbar-light .navbar-brand {
    color: rgba(251, 140, 24, 0.9);
    font-size: x-large;
    border-radius: 5px;
}
.body-items{
    background-color: #ffffff;
    border: solid 1px rgb(228, 225, 225);
    margin-top: 4vh;
    border-radius: 5px;
}
.search-box {
    padding-top: 4px;
    border-radius: 5px;
}
.search-form{
    border: solid 1px rgb(228, 225, 225);
    height: 45px;
    border-radius: 5px;
}
.output {
    border: solid 1px rgb(228, 225, 225);
    height: 75vh;
    border-radius: 5px;
}
.remove {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20vh;
}
h5 {
    text-align: center;
    font-size: small;
}
h6 {
    text-align: center;
    font-size: small;
}
.end {
    border: solid 1px rgb(228, 225, 225);
    border-radius: 5px;
}
.round {
    border: solid 1px rgb(228, 225, 225);
    border-radius: 5px;
}
<<<<<<< HEAD
.card {
    margin: auto;
    margin-top: 13vh;
}

=======
.rowSearch {
    height: 30px;
}
.input-group {
    padding-top: 10px;
}
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 75px;
}
.input-group>.input-group-append>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 75px;
}
>>>>>>> ec50e526576d2c286fc87d166423f745a5cd1e41
