.bg-light {
    background-color: #ffffff!important;
    height: 10vh;
    border: solid 1px rgb(228, 225, 225);
    border-radius: 5px;
}
.btn-outline-success {
    color: #080808;
    border-color: #bdbdbd;
}
.navbar-light .navbar-brand {
    color: rgba(251, 140, 24, 0.9);
    font-size: x-large;
    border-radius: 5px;
}
.body-items{
    background-color: #ffffff;
    border: solid 1px rgb(228, 225, 225);
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-radius: 5px;
}
.search-box {
    padding-top: 4px;
    border-radius: 5px;
}
.search-form{
    border: solid 1px rgb(228, 225, 225);
    height: 45px;
    border-radius: 5px;
}
.output {
    border: solid 1px rgb(228, 225, 225);
    height: 75vh;
    border-radius: 5px;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.remove {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20vh;
}
h5 {
    text-align: center;
    font-size: small;
}
h6 {
    text-align: center;
    font-size: small;
}
.end {
    border: solid 1px rgb(228, 225, 225);
    border-radius: 5px;
}
.round {
    border: solid 1px rgb(228, 225, 225);
    border-radius: 5px;
}
.rowSearch {
    height: 30px;
}
#stateName {
    text-align: center;
}
.input-group {
    padding-top: 10px;
}
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 75px;
}
.input-group>.input-group-append>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 75px;
}
.photo{
    width: 100%;
    height: 150px;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    min-height:400px;
    margin: auto;
    text-align: center;
    
}

.main-card{
max-height: 0px;
/* max-height: 500px;
min-height: 500px; */
}

#infoCard {

    padding: 5px;

}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}
.card .card-image {
    position: relative;
    overflow: hidden;
}
.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
}
.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.card .card-content {

    padding: 95px;

    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-content span.card-title {
    line-height: 48px;
}
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
  }
.card .card-action a {

    color: blue;

    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}

body{
    height: 900px;
}
header {
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 60%;
}
header .overlay{
	width: 100%;
	height: 100%;
    /* color: #eeb766d3; */
    color: #fff;
    text-shadow: 5px 5px 5px #333;
    background-image: url("https://www.tripsavvy.com/thmb/NSz7jn_Axo9bHLj_jP2-80RZL7k=/2120x1415/filters:fill(auto,1)/highway-1-d3cdf8826ee14dae838441a536bf2b61.jpg");
   
   
}  
header .beerHead{
        width: 100%;
        height: 100%;
        color: #FFF;
        text-shadow: 1px 1px 1px #333;
        background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/beer-bubbles-in-the-high-magnification-faferek.jpg"); 
}    

h1 {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 65px;
	margin-bottom: 10px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;

}

.btns{
    display: flex; justify-content: center;
}
h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #eeb766d3;
    text-shadow: 1px 1px 1px #333;
    font-size: 4rem;
    margin-left: 2vh;
}
.btn{
    font-size: 2rem;
    line-height: 0px;
}

#mainMap {
    margin: 0 auto;
    display: block;
    text-align: center;
}

